div{
    background-color: pink;
    margin: auto;
    width: 600px;
    height: 500px;
    padding: 20px;
}
input[type="text"],textarea{
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid grey;
}
span{
    color: red;
}
.tab{
    display: inline-block;
    margin-left: 130px;
}